@import '../constant.scss';


.list-page {
  .operation {
    .sub-nav {
      margin-bottom: 0;
      .active a{
        border-radius: 0;
      }
    }
  }
  .data-table {
    table {
      width: 100%;
      margin-bottom: 0;
    }
    .data-item td{
      input[type="checkbox"] {
        margin: 0;
      }
      padding: 4px 5px;
      line-height: 1.2rem;
      border-bottom: 1px solid #EEE;
    }
    .pagination {
      li a, li button {
        border-radius: 0px;
        padding: 0px 5px;
      }
    }
  }
}