@import './constant.scss';
@import './base.scss';

html{
  height:100%;
  //position:relative;
}
body{
  height:100%;
  //position:relative;
  //text-align: center;

}



.home-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
  margin: 0 auto -25px;
  //width: 1000px;
  background-color: #F7F7F7;
  //box-shadow:0 0 15px 1px #999;z-index: 0;
}




.footer-wrap {
  position: relative;
  height: 24px;
  z-index: 20;
  
  .footer-box {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px #666;
  }
}

