@import './constant.scss';

.header-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index:999;
  .top-bar, .top-bar a{
    background-color: #FCFCFC!important;
    color: #444!important;
    font-size: 0.875rem;
  }
  .top-bar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .top-bar .title-area a {
    color: #2969ba!important;
    font-weight: bold;
    font-size: 1.125rem;
  }
  .top-bar .top-bar-section li {
    position: relative;
    display: block;
    border-right: 1px solid rgba(52,52,52,0.05);
    background-color: transparent;

    &:hover, &:active, &.active {
    
      &::after, &:after {
        content: ' ';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 3px;
      }

    }
    &:hover, &:active {
      &::after, &:after {
        background-color: #568ACC;
      }
    }
    &.active {
      &::after, &:after {
        background-color: #2969ba;
      }
    }
  }
  .top-bar .top-bar-section a{

    &:hover, &:active {
      background-color: #EEE!important;
    }
  }

  .breadcrumbs {
    margin-bottom: 0px;
    border-radius: 0;
  }
}

.content-wrap {
  position: relative;
  height: 100%;
  padding-top:75px;
  .full-height {
    position: relative;
    height: 100%;
  }
  .columns {
    //box-shadow: 0 0 1px #000;
    height: 100%;
    overflow-y: auto;

  }
}

.content-wrap {

  .left-menu {
  
    box-shadow: 0 0 2px rgba(52,52,52,0.7) inset;
    background-color: #FFF;
  }

  .right-detail {
    background-color: #FFF;
    
    padding: 0;
    box-shadow: 0 0 2px rgba(52,52,52,0.7) inset;
  }
}