<div class="list-page">
  <div class="operation">
    <dl class="sub-nav">
      <dt>操作</dt>
      <dd class="active"><a href="javascript:void(0);">创建</a></dd>
      <dd class="active"><a href="javascript:void(0);" ng-click="func.deleteAll(event)">删除选中</a></dd>
    </dl>
  </div>
  <div class="data-table">
  <table>
    <thead>
      <tr>
        <th width="5">X</th>
        <th width="5">ID</th>
        <th>标题</th>
        <th width="50">作者</th>
        <th width="100">创建日期</th>
        <th width="50">阅读</th>
        <th width="150">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr class="data-item" ng-repeat="r in config.records">
        <td><input type="checkbox" name="select[]" ng-model="r.select"/></td>
        <td>{{r.id}}</td>
        <td>{{r.title}}</td>
        <td>{{r.author_id}}</td>
        <td>{{r.create_time}}</td>
        <td>{{r.read_count}}</td>
        <td><a>预览</a><a>修改</a><a ng-click="func.deleteOne($event)">删除</a></td>
      </tr>

    </tbody>
  </table>
  <div ng-if="!config.loaded">
    加载中，请稍候
  </div>
  <admin-pagination loaded="config.loaded" page-cnt="config.pageCnt" page-total="config.pageTotal" retrieve-func="func.retrievePage"></admin-pagination>

  </div>
</div>